{% extends "base.html" %}
{% block title %}NG Blog|Log-in
{% endblock %}

{% block body %}

    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>

    <form action="." method="post">
     {% csrf_token %}
            {% for field in form%}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
    <p><input type="submit" value="Log-in"></p>
    </form>

{% endblock %}
